<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
 
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <img alt="Brand" [src]="logo" height="50" width="150">
      </div>
     
    </div>
  </nav>
</div>
<p-megaMenu [model]="items"></p-megaMenu>
<p-progressSpinner></p-progressSpinner>


<router-outlet></router-outlet>
